@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: 'futur';
  src: url("../fonts/futur.ttf");
  src: local("☺"), url("../fonts/futur.ttf") format("woff"), url("../fonts/GALACTIC VANGUARDIAN NCV.ttf") format("truetype"), url("../fonts/futur.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 14px;
  color: #ccc;
  font-family: 'Nunito Sans', sans-serif;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  width: 100%;
  font-family: 'Oswald', sans-serif;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

a, a:hover {
  text-decoration: none !important;
}

ul {
  margin: 0;
}

li, ol {
  list-style: none;
}

header {
  width: 100%;
  z-index: 99;
}

header .header_mid {
  background: #fff;
  padding: 15px 0;
  -webkit-box-shadow: 0 0 19px -9px #000;
          box-shadow: 0 0 19px -9px #000;
  position: relative;
  z-index: 9;
}

header .header_mid .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  float: right;
}

header .head_right_logo {
  margin: 25px 0 -95px;
}

header .cart_h_con {
  margin: 22px 70px 22px 40px;
  display: inline-block;
}

header .menu-part {
  padding-top: 25px;
  display: inline-block;
}

header .menu-part ul {
  text-align: right;
}

header .menu-part ul li {
  display: inline-block;
  margin: 0 0 0 25px;
  position: relative;
}

header .menu-part ul li a {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  position: relative;
  font-family: 'Oswald', sans-serif;
}

header .menu-part ul li a:hover {
  color: #ffad33;
}

.main_slider {
  position: relative;
  overflow: hidden;
}

.main_slider .owl-dot {
  width: 3px;
  height: 30px;
  background: #fff !important;
  margin: 10px 0;
  display: block;
  position: relative;
  display: none;
}

.main_slider .owl-dot.active {
  background: #f1790e !important;
}

.main_slider .owl-dot:first-child:before {
  content: '';
  width: 13px;
  height: 30px;
  border-top: solid 1px #fff;
  border-right: solid 1px #fff;
  position: absolute;
  top: -15px;
  right: -15px;
}

.main_slider .owl-dot:first-child:after {
  content: '';
  width: 13px;
  height: 30px;
  border-top: solid 1px #fff;
  border-left: solid 1px #fff;
  position: absolute;
  top: -15px;
  left: -15px;
}

.main_slider .owl-dot:last-child:before {
  content: '';
  width: 13px;
  height: 30px;
  border-bottom: solid 1px #fff;
  border-right: solid 1px #fff;
  position: absolute;
  bottom: -15px;
  right: -15px;
}

.main_slider .owl-dot:last-child:after {
  content: '';
  width: 13px;
  height: 30px;
  border-bottom: solid 1px #fff;
  border-left: solid 1px #fff;
  position: absolute;
  bottom: -15px;
  left: -15px;
}

.main_slider .owl-dots {
  position: absolute;
  padding-left: 0;
  top: 36%;
  right: 10%;
  padding: 15px;
}

.main_slider .slide_pic {
  text-align: right;
  padding-top: 40px;
}

.main_slider .slide_pic img {
  width: auto !important;
  display: inline-block !important;
}

.main_slider .owl-nav {
  display: none;
}

.banner {
  position: relative;
}

.banner .bantext {
  padding: 30px;
  text-align: right;
  background: #273a93;
  border-radius: 10px;
  margin: 250px 0 100px;
  min-height: 230px;
}

.banner .bantext h1 {
  color: #ffc933;
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 15px;
  margin: 0 0 15px;
  position: relative;
}

.banner .bantext h1:after {
  content: '';
  position: absolute;
  width: 70px;
  height: 3px;
  background: #fff;
  right: 0;
  bottom: 0;
}

.banner .bantext p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
}

.title {
  text-align: center;
  width: 100%;
  padding-bottom: 35px;
}

.title h3 {
  font-size: 16px;
  font-weight: 300;
  color: #949494;
  margin: 0 0 8px;
}

.title h2 {
  color: #09445a;
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.title p {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  margin: 20px 0 0;
}

.slider_bot_slider {
  background: #ffc933;
  text-align: center;
}

.slider_bot_slider .center .slider_bot_info {
  background: #273b94;
}

.slider_bot_slider .center .slider_bot_info h2 {
  color: #fff;
}

.slider_bot_slider .center .slider_bot_info p {
  color: #fff;
}

.slider_bot_slider .center .slider_bot_info img {
  -webkit-filter: grayscale(100%) invert(100%);
          filter: grayscale(100%) invert(100%);
}

.slider_bot_slider .slider_bot_info {
  padding: 25px 20%;
}

.slider_bot_slider img {
  width: auto !important;
  margin: 0 auto;
}

.slider_bot_slider h2 {
  color: #273b94;
  font-size: 30px;
  font-weight: 600;
  margin: 15px 0;
}

.slider_bot_slider p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  min-height: 42px;
  margin: 0;
}

.slider_bot_slider .owl-nav {
  display: block !important;
}

.slider_bot_slider .owl-prev {
  width: 32px;
  height: 32px;
  border: solid 1px #000 !important;
  color: #000 !important;
  position: absolute;
  left: -50px;
  top: 50%;
  line-height: 28px;
}

.slider_bot_slider .owl-next {
  width: 32px;
  height: 32px;
  border: solid 1px #000 !important;
  color: #000 !important;
  position: absolute;
  right: -50px;
  top: 50%;
  line-height: 28px;
}

.solution_area {
  padding: 50px 0;
  background: #fbfcfd;
}

.solution_area h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 15px;
  margin: 0 0 15px;
  position: relative;
}

.solution_area h2:after {
  content: '';
  position: absolute;
  width: 160px;
  height: 4px;
  bottom: 0;
  left: 0;
  background: #ffc933;
}

.solution_area p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.solution_area .sol_sel {
  padding: 30px 0;
  width: 100%;
}

.solution_area .sol_sel select {
  padding: 15px;
  background: #efefef;
  border: none;
  margin-right: 20px;
  border-right: solid 15px #efefef;
}

.solution_area .sol_sel .sol_sel_one select {
  width: 100%;
  background: #273b94;
  border-right: solid 15px #273b94;
  color: #fff;
  font-size: 18px;
  margin: 40px 0 0;
}

.solution_area .sol_sel .sol_sel_two select {
  width: 100%;
  background: #f5b400;
  border-right: solid 15px #f5b400;
  color: #273b94;
  font-size: 18px;
  margin: 40px 0 0;
}

.our_sol_area {
  padding: 50px 0;
}

.our_sol_area h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 15px;
  margin: 0 0 15px;
  position: relative;
}

.our_sol_area h2:after {
  content: '';
  position: absolute;
  width: 160px;
  height: 4px;
  bottom: 0;
  left: 50%;
  background: #ffc933;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.our_sol_area .os_info {
  text-align: center;
  padding: 20px 15px;
  border: dashed 1px #000;
  margin: 30px 0 10px;
}

.our_sol_area .os_info h3 {
  color: #000000;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 15px 0;
  padding-bottom: 15px;
  position: relative;
}

.our_sol_area .os_info h3:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  bottom: 0;
  left: 50%;
  background: #ffc933;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.our_sol_area .os_info p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  min-height: 70px;
}

.our_sol_area .os_but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our_sol_area .os_but a.os_but1 {
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 34%;
  color: #fff;
  background: #273b94;
  font-size: 14px;
  font-weight: 600;
}

.our_sol_area .os_but a.os_but1:hover {
  background: #000;
}

.our_sol_area .os_but a.os_but2 {
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 32%;
  color: #000;
  background: #ffc933;
  font-size: 14px;
  font-weight: 600;
}

.our_sol_area .os_but a.os_but2:hover {
  background: #ccc;
}

.our_sol_area a.os_view_but {
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #000;
  background: #ffc933;
  font-size: 14px;
  font-weight: 600;
  padding: 0 50px;
  display: inline-block;
  margin-top: 40px;
}

.our_sol_area a.os_view_but:hover {
  background: #000;
  color: #fff;
}

.stat_area {
  padding: 50px 0;
  text-align: center;
}

.stat_area h2 {
  color: #ffc933;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  margin: 0 0 25px;
}

.stat_area h5 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.analytic_area {
  padding: 50px 0;
}

.analytic_area h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 15px;
  margin: 0 0 15px;
  position: relative;
}

.analytic_area h2:after {
  content: '';
  position: absolute;
  width: 160px;
  height: 4px;
  bottom: 0;
  left: 50%;
  background: #ffc933;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.analytic_area .ana_info {
  text-align: center;
  padding: 20px 15px;
  border: dashed 1px #000;
  margin: 30px 0 10px;
}

.analytic_area .ana_info h3 {
  color: #000000;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 15px 0;
  padding-bottom: 15px;
  position: relative;
}

.analytic_area .ana_info h3:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  bottom: 0;
  left: 50%;
  background: #ffc933;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.analytic_area .ana_info p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  min-height: 70px;
}

.client_area {
  padding: 50px 0;
  background: #0141a0;
}

.client_area h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 15px;
  margin: 0 0 30px;
  position: relative;
}

.client_area h2:after {
  content: '';
  position: absolute;
  width: 120px;
  height: 4px;
  bottom: 0;
  left: 50%;
  background: #ffc933;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.client_area .item {
  padding: 0 10px;
}

.client_area .item .slider_bot_info {
  padding: 25px 15px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}

.client_area .item .slider_bot_info img {
  width: auto !important;
  margin: 0 auto;
}

.client_area .item .slider_bot_info h3 {
  color: #0141a0;
  font-size: 25px;
  font-weight: 500;
  margin: 15px 0 0;
}

.client_area .owl-nav {
  display: block !important;
}

.client_area .owl-prev {
  width: 32px;
  height: 32px;
  border: solid 1px #fff !important;
  color: #fff !important;
  position: absolute;
  left: -50px;
  top: 50%;
  line-height: 28px;
}

.client_area .owl-next {
  width: 32px;
  height: 32px;
  border: solid 1px #fff !important;
  color: #fff !important;
  position: absolute;
  right: -50px;
  top: 50%;
  line-height: 28px;
}

.inner_slider .container {
  position: relative;
}

.inner_slider .container img.inner_ban_over {
  position: absolute;
  top: 3%;
  right: 0;
}

.inner_slider .banner {
  position: relative;
}

.inner_slider .banner .bantext {
  padding: 30px;
  text-align: right;
  background: #273a93;
  border-radius: 10px;
  margin: 250px 0 100px;
  min-height: 230px;
}

.inner_slider .banner .bantext h1 {
  color: #ffc933;
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 15px;
  margin: 0 0 15px;
  position: relative;
}

.inner_slider .banner .bantext h1:after {
  content: '';
  position: absolute;
  width: 70px;
  height: 3px;
  background: #fff;
  right: 0;
  bottom: 0;
}

.inner_slider .banner .bantext p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
}

.research_area {
  padding: 50px 0;
}

.research_area .rs_vid {
  position: relative;
}

.research_area .rs_vid img {
  width: 100%;
}

.research_area .rs_vid .rs_vid_over {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0202028c;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.research_area .rs_vid .rs_vid_over img {
  width: auto;
}

.research_area .rs_vid_bot_but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.research_area .rs_vid_bot_but a.rs_vid_bot_but1 {
  background: #273b94;
  height: 50px;
  line-height: 50px;
  width: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.research_area .rs_vid_bot_but a.rs_vid_bot_but1:hover {
  background: #000;
  color: #fff;
}

.research_area .rs_vid_bot_but a.rs_vid_bot_but2 {
  background: #ffc933;
  height: 50px;
  line-height: 50px;
  width: 50%;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.research_area .rs_vid_bot_but a.rs_vid_bot_but2:hover {
  background: #000;
  color: #fff;
}

.research_area h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 15px;
  margin: 0 0 15px;
  position: relative;
}

.research_area h2:after {
  content: '';
  position: absolute;
  width: 160px;
  height: 4px;
  bottom: 0;
  left: 0;
  background: #ffc933;
}

.research_area p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.feature_tab {
  padding: 30px 0 50px;
  /* Style the buttons inside the tab */
  /* Change background color of buttons on hover */
  /* Create an active/current tablink class */
  /* Style the tab content */
}

.feature_tab .row {
  margin: 0;
}

.feature_tab .tab {
  width: 100%;
  padding-bottom: 20px;
}

.feature_tab .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #273b94;
  font-size: 25px;
  font-weight: 700;
  border: 1px solid #273b94;
  margin-right: 15px;
  font-family: 'Oswald', sans-serif;
}

.feature_tab .tab button:hover {
  background: #ffc933;
  color: #273b94;
  border-color: #ffc933;
}

.feature_tab .tab button.active {
  background: #ffc933;
  color: #273b94;
  border-color: #ffc933;
}

.feature_tab .tabcontent {
  display: none;
  width: 100%;
}

.feature_tab .tabcontent ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature_tab .tabcontent ul li {
  width: 23%;
  margin: 0 2% 20px 0;
}

.feature_tab .tabcontent ul li a {
  border: solid 1px #000000;
  padding: 12px 12px 12px 65px;
  border-radius: 10px;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  min-height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature_tab .tabcontent ul li a .tab_count {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px #273b94;
  color: #273b94;
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
  top: 12px;
  left: 12px;
}

.feature_tab .tabcontent ul li a:hover {
  background: #273b94;
  color: #fff;
}

.feature_tab .tabcontent ul li a:hover .tab_count {
  background: #fff;
  color: #273b94;
}

.feature_tab_bot {
  padding: 0 0 50px;
}

.feature_tab_bot .ftb_info {
  background: #273b9470;
  height: 66px;
  padding: 0 15px 0 65px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature_tab_bot .ftb_info .ftb_icon {
  width: 50px;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  border-right: solid 1px #fff;
}

.feature_tab_bot .ftb_info h5 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

.feature_tab_bot .ftb_info:hover {
  background: #273b94;
}

.usp_area {
  padding: 50px 0;
}

.usp_area h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 15px;
  margin: 0 0 15px;
  position: relative;
}

.usp_area h2:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  bottom: 0;
  left: 50%;
  background: #ffc933;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.usp_area .ana_info {
  text-align: center;
  padding: 30px 20px;
  border: dashed 1px #000;
  margin: 30px 0 10px;
  min-height: 300px;
}

.usp_area .ana_info .ana_info_pic {
  width: 110px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eef6ff;
  border-radius: 50%;
  margin: 0 auto;
}

.usp_area .ana_info h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 30px 0 0;
  padding-bottom: 15px;
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 26px;
}

.usp_area .ana_info h3:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  bottom: 0;
  left: 50%;
  background: #ffc933;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.usp_area .ana_info p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  min-height: 70px;
}

.blog_list_area {
  padding: 60px 0;
}

.blog_list_area .blog_list {
  margin-bottom: 45px;
}

.blog_list_area .blog_list img {
  width: 100%;
}

.blog_list_area .blog_list ul.bd_date {
  padding: 15px;
  background-color: #ff95b1;
  width: 100%;
}

.blog_list_area .blog_list ul.bd_date li {
  display: inline-block;
  margin-right: 25px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.blog_list_area .blog_list ul.bd_date li i {
  margin: 10px;
}

.blog_list_area .blog_list h2 {
  color: #000000;
  font-size: 28px;
  font-weight: 500;
  line-height: 38px;
  margin: 25px 0 20px;
}

.blog_list_area .blog_list p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.blog_list_area .blog_list a {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 13px 40px;
  background-color: #ff95b1;
  margin-top: 10px;
  display: inline-block;
}

.blog_list_area .blog_list a:hover {
  color: #fff;
  background: #000;
}

.blog_list_area .blog_inner_sidebar {
  padding-left: 30px;
}

.blog_list_area .blog_inner_sidebar .blog_right_search {
  position: relative;
}

.blog_list_area .blog_inner_sidebar .blog_right_search input:not([type=submit]) {
  width: 100%;
  height: 55px;
  border: none;
  padding: 10px 50px 10px 30px;
  background: #ebebeb;
  font-size: 16px;
  color: #565656;
}

.blog_list_area .blog_inner_sidebar .blog_right_search input[type=submit] {
  background: #ff95b1 url(../images/blog_search_icon.png) no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  width: 65px;
  height: 55px;
  border: none;
  background-position: 21px 17px;
}

.blog_list_area .blog_inner_sidebar h3 {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 20px;
}

.blog_list_area .blog_inner_sidebar p {
  color: #000;
  font-size: 15px;
  line-height: 30px;
}

.blog_list_area .blog_inner_sidebar .other_info {
  margin: 20px 0;
  min-height: 120px;
}

.blog_list_area .blog_inner_sidebar .other_info img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
  margin: 0 10px 2px 0;
}

.blog_list_area .blog_inner_sidebar .other_info h4 {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.blog_list_area .blog_inner_sidebar .other_info h5 {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.blog_list_area .blog_inner_sidebar .achive_link {
  background: #fff;
  margin: 30px 0 40px;
}

.blog_list_area .blog_inner_sidebar ul.service_link li {
  list-style: none;
  display: block;
}

.blog_list_area .blog_inner_sidebar ul.service_link li a {
  color: #262626;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 40px;
}

.blog_list_area .blog_inner_sidebar ul.service_link li a:hover {
  color: #666;
}

.blog_list_area .blog_inner_sidebar ul.tag {
  padding-top: 15px;
}

.blog_list_area .blog_inner_sidebar ul.tag li {
  display: inline-block;
  margin: 0 15px 20px 0;
}

.blog_list_area .blog_inner_sidebar ul.tag li a {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  padding: 10px 30px;
  background: #e8edef;
}

.blog_list_area .blog_inner_sidebar ul.tag li a:hover {
  background: #ddd;
}

.blog_list_area .blog_inner_sidebar .recent_info {
  padding: 20px 0 20px 80px;
  position: relative;
}

.blog_list_area .blog_inner_sidebar .recent_info img {
  position: absolute;
  top: 15px;
  width: 60px;
  height: 60px;
  left: 0;
}

.blog_list_area .blog_inner_sidebar .recent_info h5 {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 24px;
}

.blog_list_area .blog_inner_sidebar .recent_info h6 {
  color: #616060;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 15px;
  line-height: 24px;
}

.blog_list_area .blog_inner_sidebar .recent_info p {
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.blog_list_area .blog_inner_sidebar ul.ins_pic_con {
  font-size: 0;
}

.blog_list_area .blog_inner_sidebar ul.ins_pic_con li {
  width: 30.33%;
  display: inline-block;
  margin: 0 3% 10px 0;
}

.blog_list_area .blog_inner_sidebar form input:not([type=submit]) {
  width: 100%;
  height: 50px;
  padding: 15px;
  color: #323232;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 15px;
}

.blog_list_area .blog_inner_sidebar form input[type=submit] {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  height: 50px;
  line-height: 50px;
  border: none;
  background: #ff95b1;
  text-align: center;
  width: 100%;
}

.blog_list_area .blog_inner_sidebar form input[type=submit]:hover {
  background: #000;
  color: #fff;
}

.blog_list_area .blog_details img {
  width: 100%;
}

.blog_list_area .blog_details ul.bd_date {
  padding: 15px;
  background-color: #ff95b1;
  width: 100%;
}

.blog_list_area .blog_details ul.bd_date li {
  display: inline-block;
  margin-right: 25px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.blog_list_area .blog_details ul.bd_date li i {
  margin: 10px;
}

.blog_list_area .blog_details blockquote {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  padding: 25px 0 25px 80px;
}

.blog_list_area .blog_details blockquote i {
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 8px;
  color: #999;
}

.blog_list_area .blog_details h2 {
  color: #000000;
  font-size: 28px;
  font-weight: 500;
  line-height: 38px;
  margin: 25px 0 20px;
}

.blog_list_area .blog_details p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.blog_list_area .blog_details h4 {
  color: #09445a;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 10px;
}

.blog_list_area .blog_details .bd_in_pic_con {
  padding: 20px 0;
}

.blog_list_area .blog_details .bd_in_pic_con img {
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 15px 0;
}

.blog_list_area .blog_details ul.bd_pagi {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
}

.blog_list_area .blog_details ul.bd_pagi li {
  display: inline-block;
  width: 110px;
  height: 95px;
  background: #ff95b1;
}

.blog_list_area .blog_details ul.bd_pagi li a {
  color: #fff;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog_list_area .blog_details ul.bd_pagi li a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog_list_area .blog_details .bd_aut_area {
  padding: 25px;
  background: #ff95b1;
}

.blog_list_area .blog_details .bd_aut_area h4 {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 20px;
}

.blog_list_area .blog_details .bd_aut_area h3 {
  color: #000000;
  font-size: 25px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 10px;
}

.blog_list_area .blog_details .bd_aut_area p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.blog_list_area .blog_details .bd_aut_area ul li {
  display: inline-block;
  margin-right: 15px;
}

.blog_list_area .blog_details .bd_aut_area ul li a {
  background: #00000047;
  height: 28px;
  width: 28px;
  color: #fff;
  display: block;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
}

.blog_list_area .blog_details .cmnt_post_area {
  padding-top: 30px;
}

.blog_list_area .blog_details .cmnt_post_area h3 {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 10px;
}

.blog_list_area .blog_details .cmnt_post_area p {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.75px;
  line-height: 24px;
}

.blog_list_area .blog_details .cmnt_post_area form {
  padding-top: 25px;
}

.blog_list_area .blog_details .cmnt_post_area input:not([type=submit]) {
  width: 100%;
  border: none;
  border-bottom: solid 1px #999;
  color: #626262;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  height: 40px;
  padding: 0 0 15px 0;
  margin-bottom: 30px;
}

.blog_list_area .blog_details .cmnt_post_area input[type=checkbox] {
  width: auto;
  height: auto;
  float: left;
  margin: 6px 8px 0 0;
}

.blog_list_area .blog_details .cmnt_post_area label {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.75px;
  line-height: 24px;
  width: 85%;
}

.blog_list_area .blog_details .cmnt_post_area input[type=submit] {
  border: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 60px;
  line-height: 40px;
  background-color: #ff95b1;
  clear: both;
  margin-top: 30px;
}

.blog_list_area .blog_details .cmnt_post_area input[type=submit]:hover {
  background: #000;
  color: #fff;
}

.blog_list_area .related_blog {
  padding-top: 40px;
}

.blog_list_area .bl_pegi {
  padding-top: 40px;
}

.blog_list_area .bl_pegi ul {
  text-align: center;
  width: 100%;
}

.blog_list_area .bl_pegi ul li {
  display: inline-block;
  margin: 0 10px;
}

.blog_list_area .bl_pegi ul li span {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  display: block;
  padding: 0 0 5px;
  border-bottom: solid 2px #000;
}

.blog_list_area .bl_pegi ul li a {
  color: #666;
  font-size: 20px;
  font-weight: 400;
  display: block;
  padding: 0 0 5px;
}

.blog_list_area .bl_pegi ul li a:hover {
  color: #000;
  border-bottom: solid 2px #000;
}

.contact_area {
  padding: 60px 0;
}

.contact_area h2 {
  color: #3b3b3b;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin: 0 0 50px;
  font-family: 'Playfair Display SC', serif;
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  width: auto;
  position: relative;
}

.contact_area h2 img {
  position: absolute;
  top: -14px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(0%);
          transform: translateX(-50%) translateY(0%);
  opacity: 0.2;
}

.contact_area h2:before {
  content: '';
  height: 60px;
  width: 20px;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 1px #000;
  border-right: none;
}

.contact_area h2:after {
  content: '';
  height: 60px;
  width: 20px;
  position: absolute;
  right: 0;
  top: 0;
  border: solid 1px #000;
  border-left: none;
}

.contact_area .con_left {
  padding: 40px 20px;
  background: #fff;
  -webkit-box-shadow: 0 0 19px -9px #000;
          box-shadow: 0 0 19px -9px #000;
  text-align: center;
}

.contact_area .con_left h3 {
  color: #23272a;
  font-size: 35px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 0 20px;
}

.contact_area .con_left p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.contact_area form {
  margin-top: 25px;
}

.contact_area form input:not([type=submit]), .contact_area form textarea, .contact_area form select {
  width: 100%;
  height: 55px;
  padding: 10px 40px 10px 10px;
  background: #eee;
  border: none;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

.contact_area form textarea {
  height: 140px;
}

.contact_area form input[type=submit] {
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 40px;
  line-height: 50px;
  background-color: #ff95b1;
}

.contact_area form input[type=submit]:hover {
  background: #000;
}

.contact_area .con_right {
  padding-left: 40px;
}

.contact_area .con_right p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.contact_area .con_right ul.con_add_con li {
  position: relative;
  padding-left: 30px;
  color: #000000;
  font-size: 25px;
  font-weight: 500;
  margin-top: 50px;
}

.contact_area .con_right ul.con_add_con li span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.contact_area .con_right ul.con_add_con li a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.contact_area .con_right ul.con_add_con li i {
  position: absolute;
  top: 9px;
  left: 0;
  font-size: 24px;
}

.contact_area .con_right .con_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.contact_area .con_right .con_social h3 {
  color: #000000;
  font-size: 25px;
  font-weight: 500;
  line-height: 24px;
  display: inline-block;
  width: auto;
  margin: 0 30px 0 0;
}

.contact_area .con_right .con_social ul li {
  display: inline-block;
  color: #000000;
  font-size: 20px;
  width: 32px;
  height: 32px;
  margin: 0 10px 0 0;
  position: relative;
}

.contact_area .con_right .con_social ul li a {
  color: #000;
  display: block;
  width: 32px;
  height: 32px;
  text-align: center;
  position: relative;
  line-height: 30px;
}

.contact_area .con_right .con_social ul li a:before {
  content: '';
  width: 13px;
  height: 13px;
  border-top: solid 1px #000;
  border-left: solid 1px #000;
  position: absolute;
  top: 0;
  left: 0;
}

.contact_area .con_right .con_social ul li a:after {
  content: '';
  width: 13px;
  height: 13px;
  border-bottom: solid 1px #000;
  border-left: solid 1px #000;
  position: absolute;
  bottom: 0;
  left: 0;
}

.contact_area .con_right .con_social ul li:before {
  content: '';
  width: 13px;
  height: 13px;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  position: absolute;
  top: 0;
  right: 0;
}

.contact_area .con_right .con_social ul li:after {
  content: '';
  width: 13px;
  height: 13px;
  border-bottom: solid 1px #000;
  border-right: solid 1px #000;
  position: absolute;
  bottom: 0;
  right: 0;
}

.abt_info_area {
  padding: 60px 0;
}

.abt_info_area h2 {
  color: #3b3b3b;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin: 0 0 30px;
  font-family: 'Playfair Display SC', serif;
  position: relative;
  display: inline-block;
  padding: 8px 25px;
  width: auto;
  position: relative;
}

.abt_info_area h2 img {
  position: absolute;
  top: -20px;
  left: 4px;
  opacity: 0.2;
}

.abt_info_area h2:before {
  content: '';
  height: 50px;
  width: 15px;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 1px #000;
  border-right: none;
}

.abt_info_area h2:after {
  content: '';
  height: 50px;
  width: 15px;
  position: absolute;
  right: 0;
  top: 0;
  border: solid 1px #000;
  border-left: none;
}

.abt_info_area p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
}

.abt_info_area h4 {
  color: #000000;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 3.5px;
  margin: 0;
}

.abt_vid_area {
  padding: 60px 0 0;
}

.abt_vid_area h2 {
  color: #3b3b3b;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin: 0 0 50px;
  font-family: 'Playfair Display SC', serif;
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  width: auto;
  position: relative;
}

.abt_vid_area h2 img {
  position: absolute;
  top: -14px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(0%);
          transform: translateX(-50%) translateY(0%);
  opacity: 0.2;
}

.abt_vid_area h2:before {
  content: '';
  height: 60px;
  width: 20px;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 1px #000;
  border-right: none;
}

.abt_vid_area h2:after {
  content: '';
  height: 60px;
  width: 20px;
  position: absolute;
  right: 0;
  top: 0;
  border: solid 1px #000;
  border-left: none;
}

.abt_vid_area .abt_vid_pic {
  position: relative;
}

.abt_vid_area .abt_vid_pic img {
  width: 100%;
}

.abt_vid_area .abt_vid_pic .abt_vid_pic_over {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
}

.testi_area {
  padding: 60px 0;
}

.testi_area h2 {
  color: #3b3b3b;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin: 0 0 70px;
  font-family: 'Playfair Display SC', serif;
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  width: auto;
  position: relative;
}

.testi_area h2 img {
  position: absolute;
  top: -14px;
  left: -4px;
  opacity: 0.2;
}

.testi_area h2:before {
  content: '';
  height: 60px;
  width: 20px;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 1px #000;
  border-right: none;
}

.testi_area h2:after {
  content: '';
  height: 60px;
  width: 20px;
  position: absolute;
  right: 0;
  top: 0;
  border: solid 1px #000;
  border-left: none;
}

.testi_area .testi_con {
  padding-left: 185px;
  position: relative;
}

.testi_area .testi_con img.testi_pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.testi_area .testi_con img.testi_comma {
  width: auto;
  margin-bottom: 20px;
}

.testi_area .testi_con p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
}

.testi_area .testi_con h4 {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.testi_area .testi_con h5 {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
}

.testi_area .testi_con ul li {
  display: inline-block;
  color: #ff9300;
}

.testi_area .owl-nav {
  display: block !important;
}

.testi_area .owl-prev {
  width: 32px;
  height: 32px;
  border: solid 1px #000 !important;
  color: #000 !important;
  position: absolute;
  left: -50px;
  top: 50%;
  line-height: 30px;
}

.testi_area .owl-next {
  width: 32px;
  height: 32px;
  border: solid 1px #000 !important;
  color: #000 !important;
  position: absolute;
  right: -50px;
  top: 50%;
  line-height: 30px;
}

.service_count_area {
  padding: 20px 0 70px;
}

.service_count_area .serv_cont_info {
  padding: 0 40px;
  text-align: center;
  border-right: solid 1px #ccc;
}

.service_count_area .serv_cont_info h2 {
  margin: 5px 0;
  font-size: 40px;
  font-weight: 700;
  color: #000;
}

.service_count_area .serv_cont_info h4 {
  color: #666;
  font-size: 16px;
  margin: 0;
  font-weight: 300;
}

.service_count_area .serv_cont_info:last-child {
  border: none;
}

.latest_project_area {
  padding: 60px 0;
}

.latest_project_area .item {
  margin: 0 15px;
}

.latest_project_area .owl-prev {
  width: 40px;
  height: 40px;
  background: #dfe0df !important;
  color: #fff !important;
  font-size: 24px !important;
  border-radius: 50%;
  position: absolute;
  top: 43%;
  left: -45px;
}

.latest_project_area .owl-next {
  width: 40px;
  height: 40px;
  background: #dfe0df !important;
  color: #fff !important;
  font-size: 24px !important;
  border-radius: 50%;
  position: absolute;
  top: 43%;
  right: -45px;
}

.os_main_area .os_main_info {
  padding-bottom: 50px;
}

.os_main_area .os_main_info .os_main_info_left {
  padding-right: 0;
}

.os_main_area .os_main_info .os_main_info_right {
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.os_main_area .os_main_info .os_main_info_right p {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

.os_main_area .os_main_info .os_info {
  position: relative;
  padding: 25px;
}

.os_main_area .os_main_info .os_info .os_info_con {
  position: relative;
  background: #ff95b1;
  padding: 20px;
  text-align: center;
}

.os_main_area .os_main_info .os_info .os_info_con img {
  width: auto;
  margin: 0 auto;
}

.os_main_area .os_main_info .os_info .os_info_con h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0 10px;
}

.os_main_area .os_main_info .os_info .os_info_con p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.os_main_area .os_main_info .os_info .os_info_con:before {
  content: '';
  width: 70px;
  height: 70px;
  border-top: solid 1px #999;
  border-right: solid 1px #999;
  position: absolute;
  top: -25px;
  right: -25px;
}

.os_main_area .os_main_info .os_info .os_info_con:after {
  content: '';
  width: 70px;
  height: 70px;
  border-bottom: solid 1px #999;
  border-right: solid 1px #999;
  position: absolute;
  bottom: -25px;
  right: -25px;
}

.os_main_area .os_main_info .os_info .os_info_con:hover {
  background: #ff95b1;
}

.os_main_area .os_main_info .os_info .os_info_con:hover img {
  -webkit-filter: grayscale(100%) invert(100%);
          filter: grayscale(100%) invert(100%);
}

.os_main_area .os_main_info .os_info .os_info_con:hover h3 {
  color: #fff;
}

.os_main_area .os_main_info .os_info .os_info_con:hover p {
  color: #fff;
}

.os_main_area .os_main_info .os_info:before {
  content: '';
  width: 70px;
  height: 70px;
  border-top: solid 1px #999;
  border-left: solid 1px #999;
  position: absolute;
  top: -0;
  left: 0;
}

.os_main_area .os_main_info .os_info:after {
  content: '';
  width: 70px;
  height: 70px;
  border-bottom: solid 1px #999;
  border-left: solid 1px #999;
  position: absolute;
  bottom: 0;
  left: 0;
}

.other_serv_area {
  padding: 60px 0;
}

.other_serv_area h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin: 0 0 30px;
  font-family: 'Playfair Display SC', serif;
  display: inline-block;
  padding: 8px 20px;
  width: auto;
  position: relative;
}

.other_serv_area h2 img {
  position: absolute;
  top: -14px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(0%);
          transform: translateX(-50%) translateY(0%);
  opacity: 1;
  -webkit-filter: grayscale(100%) invert(70%);
          filter: grayscale(100%) invert(70%);
  opacity: .2;
}

.other_serv_area p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.other_serv_area h2:before {
  content: '';
  height: 60px;
  width: 20px;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 1px #fff;
  border-right: none;
}

.other_serv_area h2:after {
  content: '';
  height: 60px;
  width: 20px;
  position: absolute;
  right: 0;
  top: 0;
  border: solid 1px #fff;
  border-left: none;
}

.other_serv_area .ot_info {
  background: #fff;
  margin-top: 40px;
}

.other_serv_area .ot_info img {
  width: 100%;
}

.other_serv_area .ot_info .ot_info_con {
  padding: 15px;
  text-align: center;
}

.other_serv_area .ot_info .ot_info_con h3 {
  color: #000000;
  font-family: "Playfair Display SC";
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 0 0 10px;
}

.other_serv_area .ot_info .ot_info_con p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
  margin: 0;
}

.price_area {
  padding: 60px 0;
}

.price_area h2 {
  color: #3b3b3b;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin: 0 0 40px;
  font-family: 'Playfair Display SC', serif;
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  width: auto;
  position: relative;
}

.price_area h2 img {
  position: absolute;
  top: -14px;
  left: 4px;
  opacity: 0.2;
}

.price_area h2:before {
  content: '';
  height: 60px;
  width: 20px;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 1px #000;
  border-right: none;
}

.price_area h2:after {
  content: '';
  height: 60px;
  width: 20px;
  position: absolute;
  right: 0;
  top: 0;
  border: solid 1px #000;
  border-left: none;
}

.price_area p {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 25px;
}

.price_area .price_con {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 20px 0;
}

.price_area .price_con h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  font-size: 25px;
  font-weight: 900;
  color: #000;
  margin-bottom: .2rem;
  margin: 0;
}

.price_area .price_con h4:after {
  content: "";
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 1px;
  margin: 0 .8rem;
  border-top: dashed 1px #000;
}

.price_area .price_con .price_con_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.price_area .price_con .price_con_right h5 {
  margin: 0;
  font-size: 25px;
  font-weight: 900;
  color: #000;
}

.price_area a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 40px;
  background-color: #ff95b1;
  display: inline-block;
  margin-top: 30px;
}

.price_area a:hover {
  background: #000;
}

.price_area .price_pic {
  padding: 40px 65px;
  position: relative;
}

.price_area .price_pic img {
  width: 100%;
}

.price_area .price_pic:before {
  content: '';
  position: absolute;
  width: 320px;
  height: 260px;
  border-top: solid 1px #000;
  border-left: solid 1px #000;
  left: 0;
  top: 0;
}

.price_area .price_pic:after {
  content: '';
  position: absolute;
  width: 320px;
  height: 260px;
  border-bottom: solid 1px #000;
  border-right: solid 1px #000;
  right: 0;
  bottom: 0;
}

.gal_area {
  padding: 70px 0 50px;
}

.gal_area .gal_pic {
  margin: 0 0 30px;
}

.gal_area .gal_pic h3 {
  color: #333;
  font-size: 20px;
  margin: 15px 0 0;
}

.gal_area .gal_pic_con {
  overflow: hidden;
}

.gal_area .gal_pic_con img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gal_area .gal_pic_con:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 500ms ease-in-out 0ms;
  transition: all 500ms ease-in-out 0ms;
}

.gal_inner_area {
  padding: 70px 0 0;
}

.gal_inner_area h2 {
  color: #3b3b3b;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin: 0 0 50px;
  font-family: 'Playfair Display SC', serif;
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  width: auto;
}

.gal_inner_area h2 img {
  position: absolute;
  top: -14px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(0%);
          transform: translateX(-50%) translateY(0%);
  opacity: .2;
}

.gal_inner_area h2:before {
  content: '';
  height: 60px;
  width: 20px;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 1px #000;
  border-right: none;
}

.gal_inner_area h2:after {
  content: '';
  height: 60px;
  width: 20px;
  position: absolute;
  right: 0;
  top: 0;
  border: solid 1px #000;
  border-left: none;
}

.gal_inner_area p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 0 10% 20px;
}

.gal_inner_area a.book {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 40px;
  line-height: 50px;
  background-color: #ff95b1;
  display: inline-block;
  margin-top: 25px;
  margin: 0 auto 50px;
}

.gal_inner_area a.book:hover {
  background: #000;
}

.gal_inner_area .gal_pic_con img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-part ul ul.sub-menu {
  position: absolute;
  top: 180px;
  background: #caa03c;
  margin: 0;
  width: 200px;
  padding: 10px;
  text-align: left;
  z-index: 1000;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

header .menu-part ul ul.sub-menu li {
  display: block;
}

header .menu-part ul ul.sub-menu li a {
  text-transform: capitalize;
  display: block;
  color: #000;
  background: none;
  font-size: 14px;
  padding: 8px 0;
}

header .menu-part ul ul.sub-menu li a:hover {
  padding-left: 5px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

header .menu-part ul ul.sub-menu li .double_menu {
  padding: 0 20px 15px;
  width: 50%;
  float: left;
}

header .menu-part ul ul.sub-menu:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  content: "";
  z-index: -1;
}

header .menu-part ul ul.sub-menu:before ul.sub-menu:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  outline: 1px solid #555555;
  outline-offset: -10px;
  content: "";
  z-index: -1;
}

header .menu-part ul ul.sub-menu li ul.sub-menu {
  position: absolute;
  background: #141414;
  margin: 0;
  width: 200px;
  padding: 2px;
  text-align: left;
  top: -4%;
  left: 100%;
  z-index: 1000;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

header .menu-part ul ul.sub-menu li ul.sub-menu li {
  display: block;
}

header .menu-part ul ul.sub-menu li ul.sub-menu li a {
  display: block;
  background: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  padding: 11px 14px;
  font-size: 11px;
}

header .menu-part ul ul.sub-menu li ul.sub-menu li a:hover {
  background-color: #5caadf;
  color: #ffffff;
}

header .menu-part ul li:hover ul.sub-menu {
  display: block;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

header .menu-part ul li ul.sub-menu li:hover ul.sub-menu {
  display: block;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

header .menu-part ul ul.sub-menu li:last-child {
  border: none;
}

.main-slider {
  width: 100%;
}

.main-slider .owl-item {
  padding: 0;
  position: relative;
  opacity: .5;
}

.main-slider .owl-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main-slider .center {
  opacity: 1;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 9999;
}

.main-slider .owl-controls .owl-nav {
  width: 100%;
  top: 0;
  bottom: 0;
}

.main-slider .owl-controls .owl-nav .prev {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slider .owl-controls .owl-nav .next {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slider .owl-thumbs {
  text-align: right;
  width: 100%;
  position: absolute;
  bottom: 30px;
  right: 0;
  padding-right: 8%;
}

.main-slider .owl-thumb-item {
  width: 68px;
  border: none;
  background: none;
  padding: 0;
  opacity: .7;
  overflow: hidden;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 5px;
  border: solid 6px #00000085;
}

.main-slider .owl-thumb-item img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.main-slider .owl-thumb-item.active {
  opacity: 1;
}

.main-slider .owl-thumb-item.active img {
  position: relative;
  height: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  display: block;
  background-color: black;
}

footer {
  background-color: #222f3e;
  padding: 60px 0 0;
}

footer .foot_info {
  padding-bottom: 20px;
}

footer h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 20px;
}

footer h2 a {
  color: #fff;
}

footer p {
  color: #262626;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

footer ul.social li {
  display: inline-block;
  margin: 0 10px 0 0;
}

footer ul.social li a {
  font-size: 14px;
  color: #a5aab0;
  display: block;
  width: 32px;
  height: 32px;
  text-align: center;
  position: relative;
  line-height: 30px;
  border: solid 1px #a5aab0;
  border-radius: 50%;
}

footer ul.social li a:hover {
  color: #fff;
  border-color: #fff;
}

footer .f_right {
  padding: 20px 0;
}

footer .f_right img {
  display: block;
  margin-bottom: 15px;
}

footer .f_right a {
  color: #a5aab0;
  font-size: 11px;
  font-weight: 600;
  display: inline-block;
}

footer .f_right a:hover {
  color: #fff;
}

footer ul.foot_menu li {
  margin-bottom: 10px;
}

footer ul.foot_menu li a {
  color: #a5aab0;
  font-size: 14px;
  font-weight: 400;
}

footer ul.foot_menu li a:hover {
  color: #fff;
}

footer ul.add_con {
  margin-bottom: 25px;
}

footer ul.add_con li {
  color: #a5aab0;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
}

footer ul.add_con li a {
  color: #a5aab0;
}

footer ul.add_con li a:hover {
  color: #fff;
}

footer ul.add_con li i {
  position: absolute;
  top: 5px;
  left: 0;
  color: #a5aab0;
}

footer .foot_bottom_con {
  text-align: center;
  border-top: 1px solid rgba(221, 221, 221, 0.1);
  padding: 10px 0;
  width: 100%;
}

footer .foot_bottom_con p {
  color: #a5aab0;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

footer .foot_bottom_con p a {
  color: #fff;
}

footer .foot_bottom_con p a:hover {
  text-decoration: underline !important;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999999;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-dialog .modal-content {
  background: #fff;
  border: solid 3px #f1790e;
  padding: 5px;
  padding: 30px;
  border-radius: 10px;
}

.modal-dialog .modal-content .modal-header {
  padding: 0 0 30px;
  border: none;
  text-align: center;
  color: #000;
}

.modal-dialog .modal-content .modal-header .close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.modal-dialog .modal-content .modal-header .close:focus {
  outline: none;
}

.modal-dialog .modal-content .modal-body {
  padding: 0;
  width: 100%;
}

.modal-dialog .modal-content .modal-body input:not([type=submit]) {
  width: 100%;
  border: solid 1px #999;
  height: 50px;
  padding: 10px;
  color: #000;
  border-radius: 5px;
  margin-bottom: 20px;
}

.modal-dialog .modal-content .modal-body input:not([type=submit])::-webkit-input-placeholder {
  color: #666;
}

.modal-dialog .modal-content .modal-body input:not([type=submit]):-ms-input-placeholder {
  color: #666;
}

.modal-dialog .modal-content .modal-body input:not([type=submit])::-ms-input-placeholder {
  color: #666;
}

.modal-dialog .modal-content .modal-body input:not([type=submit])::placeholder {
  color: #666;
}

.modal-dialog .modal-content .modal-body input[type=submit] {
  height: 50px;
  line-height: 50px;
  border: none;
  padding: 0 30px;
  color: #fff;
  background: #f1790e;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
}

.modal-dialog .modal-content .modal-body input[type=submit]:hover {
  background: #000;
}
/*# sourceMappingURL=style.css.map */