* {
	padding: 0px;
	margin: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
// font-family: 'Oswald', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');
// font-family: 'Nunito Sans', sans-serif;

@font-face {
	  font-family: 'futur';
	  src: url('../fonts/futur.ttf');
	  src: local('☺'), url('../fonts/futur.ttf') format('woff'), url('../fonts/GALACTIC VANGUARDIAN NCV.ttf') format('truetype'), url('../fonts/futur.svg') format('svg');
	  font-weight: normal;
	  font-style: normal;
}

body {
	font-size: 14px;
	color: #ccc;
	font-family: 'Nunito Sans', sans-serif;
}

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
	width: 100%;
	font-family: 'Oswald', sans-serif;
}

input:focus, textarea:focus, select:focus {
	outline: none;
}

a, a:hover {
	text-decoration: none !important;
}

ul {
	margin: 0;
}

li, ol {
	list-style: none;
}

header {
	width: 100%;
	z-index: 99;
	.header_mid{
		background: #fff;
		padding: 15px 0;
		box-shadow: 0 0 19px -9px #000;
		position: relative;
		z-index: 9;
		.header_right{
			display: flex;
			width: auto;
			float: right;
		}
	}
	.head_right_logo{
		margin: 25px 0 -95px;
	}
	.cart_h_con {
		margin: 22px 70px 22px 40px;
		display: inline-block;
	}
	.menu-part {
		padding-top: 25px;
		display: inline-block;
		ul {
			text-align: right;

			li {
				display: inline-block;
				margin: 0 0 0 25px;
				position: relative;
				a {
					color: #000;
					font-size: 16px;
					font-weight: 400;
					text-transform: uppercase;
					display: block;
					position: relative;
					font-family: 'Oswald', sans-serif;
				}

				a:hover {
					color: #ffad33;
				}
			}
		}

	}

}

.main_slider {
	position: relative;
	overflow: hidden;
	.owl-dot{
		width: 3px;
		height: 30px;
		background: #fff !important;
		margin: 10px 0;
		display: block;
		position: relative;
		display: none;
	  }
	  .owl-dot.active{
		  background: #f1790e !important;
	  }
	  .owl-dot:first-child:before{
			content: '';
			width: 13px;
			height: 30px;
			border-top: solid 1px #fff;
			border-right: solid 1px #fff;
			position: absolute;
			top: -15px;
			right: -15px;
		}
		.owl-dot:first-child:after{
			content: '';
			width: 13px;
			height: 30px;
			border-top: solid 1px #fff;
			border-left: solid 1px #fff;
			position: absolute;
			top: -15px;
			left: -15px;
		}
		.owl-dot:last-child:before{
			content: '';
			width: 13px;
			height: 30px;
			border-bottom: solid 1px #fff;
			border-right: solid 1px #fff;
			position: absolute;
			bottom: -15px;
			right: -15px;
		}
		.owl-dot:last-child:after{
			content: '';
			width: 13px;
			height: 30px;
			border-bottom: solid 1px #fff;
			border-left: solid 1px #fff;
			position: absolute;
			bottom: -15px;
			left: -15px;
		}
	  .owl-dots{
		position: absolute;
		padding-left: 0;
		top: 36%;
		right: 10%;
		padding: 15px;
	  }
	  .slide_pic{
		  text-align: right;
		  padding-top: 40px;
		  img{
			  width: auto !important;
			  display: inline-block !important;
		  }
	  }
	  .owl-nav{
		  display: none;
	  }
}

.banner {
	position: relative;
	.bantext {
		padding: 30px;
		text-align: right;
		background: #273a93;
		border-radius: 10px;
		margin: 250px 0 100px;
		min-height: 230px;
		h1 {
			color: #ffc933;
			font-size: 40px;
			font-weight: 500;
			padding-bottom: 15px;
			margin: 0 0 15px;
			position: relative;
		}
		h1:after{
			content: '';
			position: absolute;
			width: 70px;
			height: 3px;
			background: #fff;
			right: 0;
			bottom: 0;
		}
		p {
			color: #ffffff;
			font-size: 20px;
			font-weight: 600;
			font-family: 'Nunito Sans', sans-serif;
		}

	}

}
.title{
	text-align: center;
	width: 100%;
	padding-bottom: 35px;
	h3{
		font-size: 16px;
		font-weight: 300;
		color: #949494;
		margin: 0 0 8px;
	}
	h2{
		color: #09445a;
		font-size: 32px;
		font-weight: 600;
		margin: 0;
	}
	p{
		color: #000000;
		font-size: 16px;
		font-weight: 300;
		line-height: 30px;
		margin: 20px 0 0;
	}
}
.slider_bot_slider{
	background: #ffc933;
	text-align: center;
	.center .slider_bot_info{
		background: #273b94;
		h2{
			color: #fff;
		}
		p{
			color: #fff;
		}
		img{
			filter: grayscale(100%) invert(100%);
		}
	}
	.slider_bot_info{
		padding: 25px 20%;
	}
	img{
		width: auto !important;
		margin: 0 auto;
	}
	h2{
		color: #273b94;
		font-size: 30px;
		font-weight: 600;
		margin: 15px 0;
	}
	p{
		color: #000000;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		min-height: 42px;
		margin: 0;
	}
	.owl-nav {
		display: block !important;
	}
	.owl-prev {
		width: 32px;
		height: 32px;
		border: solid 1px #000 !important;
		color: #000 !important;
		position: absolute;
		left: -50px;
		top: 50%;
		line-height: 28px;
	}
	.owl-next {
		width: 32px;
		height: 32px;
		border: solid 1px #000 !important;
		color: #000 !important;
		position: absolute;
		right: -50px;
		top: 50%;
		line-height: 28px;
	}
}

.solution_area{
	padding: 50px 0;
	background: #fbfcfd;
	h2{
		color: #000000;
		font-size: 30px;
		font-weight: 600;
		line-height: 24px;
		padding-bottom: 15px;
		margin: 0 0 15px;
		position: relative;
	}
	h2:after{
		content: '';
		position: absolute;
		width: 160px;
		height: 4px;
		bottom: 0;
		left: 0;
		background: #ffc933;
	}
	p{
		color: #000000;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
	}
	.sol_sel{
		padding: 30px 0;
		width: 100%;
		select{
			padding: 15px;
			background: #efefef;
			border: none;
			margin-right: 20px;
			border-right: solid 15px #efefef;
		}
		h3{
			color: #ffffff;
			font-family: "Nunito Sans";
			font-size: 18px;
			font-weight: 600;
			text-align: center;
			text-transform: uppercase;
			padding: 15px;
			margin: 40px 0 25px;
			background: #273b94;
			i{
				margin-left: 10px;
			}
		}
		.sol_sel_mid{
			ul:before{
				content: '';
				height: 100%;
				width: 1px;
				top: 0;
				left: -16px;
				border-right: dashed 1px #000;
				position: absolute;
			}
			ul:after{
				content: '';
				height: 100%;
				width: 1px;
				top: 0;
				right: -16px;
				border-right: dashed 1px #000;
				position: absolute;
			}
			h3{
				background: #f5b400;
				color: #273b94;
			}
		}
		ul{
			position: relative;
			height: 75%;
			li{
				font-size: 18px;
				font-weight: 600;
				margin: 5px 0;
				padding-left: 25px;
				position: relative;
			}
			li:nth-child(odd){
				color: #f5b400;
			}
			li:nth-child(even){
				color: #273b94;
			}
			li:before{
				content: '';
				position: absolute;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background: #000;
				left: 0;
				top: 9px;
			}
		}
	}
	
}
.our_sol_area{
	padding: 50px 0;
	h2{
		color: #000000;
		font-size: 30px;
		font-weight: 600;
		line-height: 24px;
		padding-bottom: 15px;
		margin: 0 0 15px;
		position: relative;
	}
	h2:after{
		content: '';
		position: absolute;
		width: 160px;
		height: 4px;
		bottom: 0;
		left: 50%;
		background: #ffc933;
		transform: translateX(-50%);
	}
	.os_info{
		text-align: center;
		padding: 20px 15px;
		border: dashed 1px #000;
		margin: 30px 0 10px;
		h3{
			color: #000000;
			font-size: 25px;
			font-weight: 600;
			text-transform: uppercase;
			margin: 15px 0;
			padding-bottom: 15px;
			position: relative;
		}
		h3:after{
			content: '';
			position: absolute;
			width: 60px;
			height: 4px;
			bottom: 0;
			left: 50%;
			background: #ffc933;
			transform: translateX(-50%);
		}
		p{
			color: #000000;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			margin: 0;
			min-height: 70px;
		}
	}
	.os_but{
		display: flex;
		align-items: center;
		a.os_but1{
			height: 50px;
			line-height: 50px;
			text-align: center;
			width: 34%;
			color: #fff;
			background: #273b94;
			font-size: 14px;
			font-weight: 600;
		}
		a.os_but1:hover{
			background: #000;
		}
		a.os_but2{
			height: 50px;
			line-height: 50px;
			text-align: center;
			width: 32%;
			color: #000;
			background: #ffc933;
			font-size: 14px;
			font-weight: 600;
		}
		a.os_but2:hover{
			background: #ccc;
		}
	}
	a.os_view_but{
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: #000;
		background: #ffc933;
		font-size: 14px;
		font-weight: 600;
		padding: 0 50px;
		display: inline-block;
		margin-top: 40px;
	}
	a.os_view_but:hover{
		background: #000;
		color: #fff;
	}
}

.stat_area{
	padding: 50px 0;
	text-align: center;
	h2{
		color: #ffc933;
		font-size: 50px;
		font-weight: 400;
		line-height: 60px;
		margin: 0 0 25px;
	}
	h5{
		color: #ffffff;
		font-size: 18px;
		font-weight: 600;
		line-height: 24px;
		margin: 0;
		font-family: 'Nunito Sans', sans-serif;
	}
}
.analytic_area{
	padding: 50px 0;
	h2{
		color: #000000;
		font-size: 30px;
		font-weight: 600;
		line-height: 24px;
		padding-bottom: 15px;
		margin: 0 0 15px;
		position: relative;
	}
	h2:after{
		content: '';
		position: absolute;
		width: 160px;
		height: 4px;
		bottom: 0;
		left: 50%;
		background: #ffc933;
		transform: translateX(-50%);
	}
	.ana_info{
		text-align: center;
		padding: 20px 15px;
		border: dashed 1px #000;
		margin: 30px 0 10px;
		h3{
			color: #000000;
			font-size: 25px;
			font-weight: 600;
			text-transform: uppercase;
			margin: 15px 0;
			padding-bottom: 15px;
			position: relative;
		}
		h3:after{
			content: '';
			position: absolute;
			width: 60px;
			height: 4px;
			bottom: 0;
			left: 50%;
			background: #ffc933;
			transform: translateX(-50%);
		}
		p{
			color: #000000;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			margin: 0;
			min-height: 70px;
		}
	}
}
.client_area{
	padding: 50px 0;
	background: #0141a0;
	h2{
		color: #fff;
		font-size: 30px;
		font-weight: 600;
		line-height: 24px;
		padding-bottom: 15px;
		margin: 0 0 30px;
		position: relative;
	}
	h2:after{
		content: '';
		position: absolute;
		width: 120px;
		height: 4px;
		bottom: 0;
		left: 50%;
		background: #ffc933;
		transform: translateX(-50%);
	}
	.item{
		padding: 0 10px;
		.slider_bot_info{
			padding: 25px 15px;
			background: #fff;
			border-radius: 10px;
			text-align: center;
			img{
				width: auto !important;
				margin: 0 auto;
			}
			h3{
				color: #0141a0;
				font-size: 25px;
				font-weight: 500;
				margin: 15px 0 0;
			}
		}
	}
	.owl-nav {
		display: block !important;
	}
	.owl-prev {
		width: 32px;
		height: 32px;
		border: solid 1px #fff !important;
		color: #fff !important;
		position: absolute;
		left: -50px;
		top: 50%;
		line-height: 28px;
	}
	.owl-next {
		width: 32px;
		height: 32px;
		border: solid 1px #fff !important;
		color: #fff !important;
		position: absolute;
		right: -50px;
		top: 50%;
		line-height: 28px;
	}
}
.inner_slider{
	.container{
		position: relative;
		img.inner_ban_over{
			position: absolute;
			top: 3%;
			right: 0;
		}
	}
	.banner {
		position: relative;
		.bantext {
			padding: 30px;
			text-align: right;
			background: #273a93;
			border-radius: 10px;
			margin: 250px 0 100px;
			min-height: 230px;
			h1 {
				color: #ffc933;
				font-size: 40px;
				font-weight: 500;
				padding-bottom: 15px;
				margin: 0 0 15px;
				position: relative;
			}
			h1:after{
				content: '';
				position: absolute;
				width: 70px;
				height: 3px;
				background: #fff;
				right: 0;
				bottom: 0;
			}
			p {
				color: #ffffff;
				font-size: 20px;
				font-weight: 600;
				font-family: 'Nunito Sans', sans-serif;
			}
		}
	}
}
.research_area{
	padding: 50px 0;
	.rs_vid{
		position: relative;
		img{
			width: 100%;
		}
		.rs_vid_over{
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #0202028c;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			img{
				width: auto;
			}
		}
	}
	.rs_vid_bot_but{
		display: flex;
		align-items: center;
		a.rs_vid_bot_but1{
			background: #273b94;
			height: 50px;
			line-height: 50px;
			width: 50%;
			color: #fff;
			font-size: 16px;
			font-weight: 600;
			text-align: center;
		}
		a.rs_vid_bot_but1:hover{
			background: #000;
			color: #fff;
		}
		a.rs_vid_bot_but2{
			background: #ffc933;
			height: 50px;
			line-height: 50px;
			width: 50%;
			color: #000;
			font-size: 16px;
			font-weight: 600;
			text-align: center;
		}
		a.rs_vid_bot_but2:hover{
			background: #000;
			color: #fff;
		}
	}
	h2 {
		color: #000000;
		font-size: 30px;
		font-weight: 600;
		line-height: 24px;
		padding-bottom: 15px;
		margin: 0 0 15px;
		position: relative;
	}
	h2:after {
		content: '';
		position: absolute;
		width: 160px;
		height: 4px;
		bottom: 0;
		left: 0;
		background: #ffc933;
	}
	p {
		color: #000000;
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
	}
}
.feature_tab{
	padding: 30px 0 50px;
  .row{
	  margin: 0;
  }
  .tab{
	  width: 100%;
	  padding-bottom: 20px;
  }
  /* Style the buttons inside the tab */
  .tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 12px 50px;
	transition: 0.3s;
	color: #273b94;
	font-size: 25px;
	font-weight: 700;
	border: 1px solid #273b94;
	margin-right: 15px;
	font-family: 'Oswald', sans-serif;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
	background: #ffc933;
	color: #273b94;
	border-color: #ffc933;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
	background: #ffc933;
	color: #273b94;
	border-color: #ffc933;
  }
  
  /* Style the tab content */
  .tabcontent {
	display: none;
	width: 100%;
	ul{
		display: flex;
		flex-wrap: wrap;
		li{
			width: 23%;
			margin: 0 2% 20px 0;
			a{
				border: solid 1px #000000;
				padding: 12px 12px 12px 65px;
				border-radius: 10px;
				background: #fff;
				color: #000;
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				position: relative;
				min-height: 75px;
				align-items: center;
				display: flex;
				.tab_count{
					position: absolute;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					border: solid 1px #273b94;
					color: #273b94;
					font-size: 20px;
					font-weight: 600;
					display: flex;
					align-items: center;
					justify-content: center;
					font-family: 'Nunito Sans', sans-serif;
					top: 12px;
					left: 12px;
				}
			}
			a:hover{
				background: #273b94;
				color: #fff;
				.tab_count{
					background: #fff;
					color: #273b94;
				}
			}
		}
	}
  }
}
.feature_tab_bot{
	padding: 0 0 50px;
	.ftb_info{
		background: #273b9470;
		height: 66px;
		padding: 0 15px 0 65px;
		position: relative;
		align-items: center;
		display: flex;
		.ftb_icon{
			width: 50px;
			height: 66px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			border-right: solid 1px #fff;
		}
		h5{
			color: #ffffff;
			font-size: 18px;
			font-weight: 700;
			font-family: 'Nunito Sans', sans-serif;
			margin: 0;
		}
	}
	.ftb_info:hover{
		background: #273b94;
	}
}
.usp_area{
	padding: 50px 0;
	h2{
		color: #000000;
		font-size: 30px;
		font-weight: 600;
		line-height: 24px;
		padding-bottom: 15px;
		margin: 0 0 15px;
		position: relative;
	}
	h2:after{
		content: '';
		position: absolute;
		width: 60px;
		height: 4px;
		bottom: 0;
		left: 50%;
		background: #ffc933;
		transform: translateX(-50%);
	}
	.ana_info{
		text-align: center;
		padding: 30px 20px;
		border: dashed 1px #000;
		margin: 30px 0 10px;
		min-height: 300px;
		.ana_info_pic{
			width: 110px;
			height: 110px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #eef6ff;
			border-radius: 50%;
			margin: 0 auto;
		}
		h3{
			color: #000000;
			font-size: 20px;
			font-weight: 600;
			text-transform: uppercase;
			margin: 30px 0 0;
			padding-bottom: 15px;
			position: relative;
			font-family: 'Nunito Sans', sans-serif;
			line-height: 26px;
		}
		h3:after{
			content: '';
			position: absolute;
			width: 60px;
			height: 4px;
			bottom: 0;
			left: 50%;
			background: #ffc933;
			transform: translateX(-50%);
		}
		p{
			color: #000000;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			margin: 0;
			min-height: 70px;
		}
	}
}
.blog_list_area{
	padding: 60px 0;
	.blog_list{
		margin-bottom: 45px;
		img{
			width: 100%;
		}
		ul.bd_date{
			padding: 15px;
			background-color: #ff95b1;
			width: 100%;
			li{
			  display: inline-block;
			  margin-right: 25px;
			  color: #000000;
			  font-size: 14px;
			  font-weight: 400;
			  line-height: 24px;
			  text-transform: uppercase;
			  i{
				  margin: 10px;
			  }
			}
		}
		h2{
			color: #000000;
			font-size: 28px;
			font-weight: 500;
			line-height: 38px;
			margin: 25px 0 20px;
		}
		p{
			color: #000000;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
		}
		a{
			color: #000;
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
			padding: 13px 40px;
			background-color: #ff95b1;
			margin-top: 10px;
			display: inline-block;
		}
		a:hover{
			color: #fff;
			background: #000;
		}
	}
	.blog_inner_sidebar{
		padding-left: 30px;
		.blog_right_search{
		  position: relative;
		  input:not([type=submit]){
			width: 100%;
			height: 55px;
			border: none;
			padding: 10px 50px 10px 30px;
			background: #ebebeb;
			font-size: 16px;
			color: #565656;
		  }
		  input[type=submit]{
			background: #ff95b1 url(../images/blog_search_icon.png) no-repeat;
			position: absolute;
			right: 0;
			top: 0;
			width: 65px;
			height: 55px;
			border: none;
			background-position: 21px 17px;
		  }
		}
		h3{
			color: #000000;
			font-size: 30px;
			font-weight: 400;
			line-height: 24px;
			margin: 0 0 20px;
		}
		p{
		  color: #000;
		  font-size: 15px;
		  line-height: 30px;
		}
		.other_info{
		  margin: 20px 0;
		  min-height: 120px;
		  img{
			width: 120px;
			height: 120px;
			object-fit: cover;
			float: left;
			margin: 0 10px 2px 0;
		  }
		  h4{
			color: #000000;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			margin: 0;
		  }
		  h5{
			color: #000000;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			margin: 0;
		  }
		}
		.achive_link{
		  background: #fff;
		  margin: 30px 0 40px;
		}
		ul.service_link{
		  li{
			list-style: none;
			display: block;
			a{
				color: #262626;
				font-size: 18px;
				font-weight: 400;
				letter-spacing: 0.9px;
				line-height: 40px;
			}
			a:hover{
			  color: #666;
			}
		  }
		}
		ul.tag{
			padding-top: 15px;
			li{
				display: inline-block;
				margin: 0 15px 20px 0;
				a{
					color: #000000;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					display: block;
					padding: 10px 30px;
					background: #e8edef;
				}
				a:hover{
					background: #ddd;
				}
			}
		}
		.recent_info{
			padding: 20px 0 20px 80px;
			position: relative;
			img{
				position: absolute;
				top: 15px;
				width: 60px;
				height: 60px;
				left: 0;
			}
			h5{
				color: #000000;
				font-size: 16px;
				font-weight: 500;
				margin: 0;
				line-height: 24px;
			}
			h6{
				color: #616060;
				font-size: 14px;
				font-weight: 500;
				margin: 0 0 15px;
				line-height: 24px;
			}
			p{
				color: #3a3a3a;
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				padding: 0;
				margin: 0;
			}
		}
		ul.ins_pic_con{
			font-size: 0;
			li{
				width: 30.33%;
				display: inline-block;
				margin: 0 3% 10px 0;
			}
		}
		form{
			input:not([type=submit]){
				width: 100%;
				height: 50px;
				padding: 15px;
				color: #323232;
				font-size: 15px;
				font-weight: 300;
				line-height: 24px;
				margin-bottom: 15px;
			}
			input[type=submit]{
				color: #000000;
				font-size: 18px;
				font-weight: 500;
				line-height: 24px;
				height: 50px;
				line-height: 50px;
				border: none;
				background: #ff95b1;
				text-align: center;
				width: 100%;
			}
			input[type=submit]:hover{
				background: #000;
				color: #fff;
			}
		}
	  }
	  .blog_details{
		  img{
			  width: 100%;
		  }
		  ul.bd_date{
			  padding: 15px;
			  background-color: #ff95b1;
			  width: 100%;
			  li{
				display: inline-block;
				margin-right: 25px;
				color: #000000;
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				text-transform: uppercase;
				i{
					margin: 10px;
				}
			  }
		  }
		  blockquote{
			color: #000000;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			position: relative;
			padding: 25px 0 25px 80px;
			i{
				font-size: 50px;
				position: absolute;
				left: 0;
				top: 8px;
				color: #999;
			}
		  }
		  h2{
			color: #000000;
			font-size: 28px;
			font-weight: 500;
			line-height: 38px;
			margin: 25px 0 20px;
		  }
		  p{
			color: #000000;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
		  }
		  h4{
			color: #09445a;
			font-size: 16px;
			font-weight: 400;
			margin: 0 0 10px;
		  }
		  .bd_in_pic_con{
			  padding: 20px 0;
			  img{
				  height: 230px;
				  object-fit: cover;
				  margin: 15px 0;
			  }
		  }
		  ul.bd_pagi{
			  font-size: 0;
			  display: flex;
			  align-items: center;
			  margin: 40px 0;
			li{
				display: inline-block;
				width: 110px;
				height: 95px;
				background: #ff95b1;
				a{
					color: #fff;
					font-size: 40px;
					display: flex;
					width: 100%;
					height: 100%;
					align-items: center;
					justify-content: center;
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		  }
		  .bd_aut_area{
			  padding: 25px;
			  background: #ff95b1;
			  h4{
				color: #000000;
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				margin: 0 0 20px;
			  }
			  h3{
				color: #000000;
				font-size: 25px;
				font-weight: 400;
				line-height: 24px;
				margin: 0 0 10px;
			  }
			  p{
				color: #000000;
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
			  }
			  ul{
				  li{
					  display: inline-block;
					  margin-right: 15px;
					  a{
						  background: #00000047;
						  height: 28px;
						  width: 28px;
						  color: #fff;
						  display: block;
						  border-radius: 50%;
						  display: flex;
						  align-items: center;
						  justify-content: center;
						  font-size: 13px;
					  }
				  }
			  }
		  }
		  .cmnt_post_area{
			  padding-top: 30px;
			  h3{
				color: #000000;
				font-size: 30px;
				font-weight: 400;
				margin:  0 0 10px;
			  }
			  p{
				color: #000000;
				font-size: 15px;
				font-weight: 400;
				letter-spacing: 0.75px;
				line-height: 24px;
			  }
			  form{
				  padding-top: 25px;
			  }
			  input:not([type=submit]){
				width: 100%;
				border: none;
				border-bottom: solid 1px #999;
				color: #626262;
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				height: 40px;
				padding: 0 0 15px 0;
				margin-bottom: 30px;
			  }
			  input[type=checkbox]{
				  width: auto;
				  height: auto;
				  float: left;
				  margin: 6px 8px 0 0;
			  }
			  label{
				color: #000000;
				font-size: 15px;
				font-weight: 400;
				letter-spacing: 0.75px;
				line-height: 24px;
				width: 85%;
			  }
			  input[type=submit]{
				border: none;
				color: #000;
				font-size: 16px;
				font-weight: 500;
				text-transform: uppercase;
				padding: 0 60px;
				line-height: 40px;
				background-color: #ff95b1;
				clear: both;
				margin-top: 30px;
			  }
			  input[type=submit]:hover{
				  background: #000;
				  color: #fff;
			  }
		  }
	  }
	  .related_blog{
		  padding-top: 40px;
	  }
	  .bl_pegi{
		  padding-top: 40px;
		  ul{
			  text-align: center;
			  width: 100%;
			  li{
				  display: inline-block;
				  margin: 0 10px;
				  span{
					color: #000;
					font-size: 20px;
					font-weight: 400;
					display: block;
					padding: 0 0 5px;
					border-bottom: solid 2px #000;
				  }
				  a{
					color: #666;
					font-size: 20px;
					font-weight: 400;
					display: block;
					padding: 0 0 5px;
				  }
				  a:hover{
					  color: #000;
					  border-bottom: solid 2px #000;
				  }
			  }
		  }
	  }
}
.contact_area{
	padding: 60px 0;
	h2{
		color: #3b3b3b;
		font-size: 35px;
		font-weight: 700;
		letter-spacing: 7px;
		text-transform: uppercase;
		margin: 0 0 50px;
		font-family: 'Playfair Display SC', serif;
		position: relative;
		display: inline-block;
		padding: 8px 20px;
		width: auto;
		position: relative;
		img{
			position: absolute;
			top: -14px;
			left: 50%;
			transform: translateX(-50%) translateY(0%);
			opacity: 0.2;
		}
	}
	h2:before{
		content: '';
		height: 60px;
		width: 20px;
		position: absolute;
		left: 0;
		top: 0;
		border: solid 1px #000;
		border-right: none;
	}
	h2:after{
		content: '';
		height: 60px;
		width: 20px;
		position: absolute;
		right: 0;
		top: 0;
		border: solid 1px #000;
		border-left: none;
	}
	.con_left{
		padding: 40px 20px;
		background: #fff;
		box-shadow: 0 0 19px -9px #000;
		text-align: center;
		h3{
			color: #23272a;
			font-size: 35px;
			font-weight: 500;
			line-height: 24px;
			margin: 0 0 20px;
		}
		p{
			color: #000000;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
		}
	}
	form{
		margin-top: 25px;
		input:not([type=submit]), textarea, select{
			width: 100%;
			height: 55px;
			padding: 10px 40px 10px 10px;
			background: #eee;
			border: none;
			color: #000;
			font-size: 16px;
			margin-bottom: 20px;
		}
		textarea{
			height: 140px;
		}
		input[type=submit]{
			border: none;
			color: #fff;
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
			padding: 0 40px;
			line-height: 50px;
			background-color: #ff95b1;
		}
		input[type=submit]:hover{
			background: #000;
		}
	}
	.con_right{
		padding-left: 40px;
		p{
			color: #000000;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
		}
		ul.con_add_con{
			li{
				position: relative;
				padding-left: 30px;
				color: #000000;
				font-size: 25px;
				font-weight: 500;
				margin-top: 50px;
				span{
					display: block;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
				}
				a{
					display: block;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					color: #000000;
				}
				i{
					position: absolute;
					top: 9px;
					left: 0;
					font-size: 24px;
				}
			}
		}
		.con_social{
			display: flex;
			align-items: center;
			margin-top: 40px;
			h3{
				color: #000000;
				font-size: 25px;
				font-weight: 500;
				line-height: 24px;
				display: inline-block;
				width: auto;
				margin: 0 30px 0 0;
			}
			ul{
				li{
					display: inline-block;
					color: #000000;
					font-size: 20px;
					width: 32px;
					height: 32px;
					margin: 0 10px 0 0;
					position: relative;
					a {
						color: #000;
						display: block;
						width: 32px;
						height: 32px;
						text-align: center;
						position: relative;
						line-height: 30px;
					}
					a:before {
						content: '';
						width: 13px;
						height: 13px;
						border-top: solid 1px #000;
						border-left: solid 1px #000;
						position: absolute;
						top: 0;
						left: 0;
					}
					a:after {
						content: '';
						width: 13px;
						height: 13px;
						border-bottom: solid 1px #000;
						border-left: solid 1px #000;
						position: absolute;
						bottom: 0;
						left: 0;
					}
				}
				li:before {
					content: '';
					width: 13px;
					height: 13px;
					border-top: solid 1px #000;
					border-right: solid 1px #000;
					position: absolute;
					top: 0;
					right: 0;
				}
				li:after {
					content: '';
					width: 13px;
					height: 13px;
					border-bottom: solid 1px #000;
					border-right: solid 1px #000;
					position: absolute;
					bottom: 0;
					right: 0;
				}
			}
		}
	}
}
.abt_info_area{
	padding: 60px 0;
	h2{
		color: #3b3b3b;
		font-size: 25px;
		font-weight: 700;
		letter-spacing: 7px;
		text-transform: uppercase;
		margin: 0 0 30px;
		font-family: 'Playfair Display SC', serif;
		position: relative;
		display: inline-block;
		padding: 8px 25px;
		width: auto;
		position: relative;
		img{
			position: absolute;
			top: -20px;
			left: 4px;
			opacity: 0.2;
		}
	}
	h2:before {
		content: '';
		height: 50px;
		width: 15px;
		position: absolute;
		left: 0;
		top: 0;
		border: solid 1px #000;
		border-right: none;
	}
	h2:after {
		content: '';
		height: 50px;
		width: 15px;
		position: absolute;
		right: 0;
		top: 0;
		border: solid 1px #000;
		border-left: none;
	}
	p{
		color: #000000;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.8px;
	}
	h4{
		color: #000000;
		font-size: 70px;
		font-weight: 500;
		letter-spacing: 3.5px;
		margin: 0;
	}
}
.abt_vid_area{
	padding: 60px 0 0;
	h2{
		color: #3b3b3b;
		font-size: 35px;
		font-weight: 700;
		letter-spacing: 7px;
		text-transform: uppercase;
		margin: 0 0 50px;
		font-family: 'Playfair Display SC', serif;
		position: relative;
		display: inline-block;
		padding: 8px 20px;
		width: auto;
		position: relative;
		img{
			position: absolute;
			top: -14px;
			left: 50%;
			transform: translateX(-50%) translateY(0%);
			opacity: 0.2;
		}
	}
	h2:before{
		content: '';
		height: 60px;
		width: 20px;
		position: absolute;
		left: 0;
		top: 0;
		border: solid 1px #000;
		border-right: none;
	}
	h2:after{
		content: '';
		height: 60px;
		width: 20px;
		position: absolute;
		right: 0;
		top: 0;
		border: solid 1px #000;
		border-left: none;
	}
	.abt_vid_pic{
		position: relative;
		img{
			width: 100%;
		}
		.abt_vid_pic_over{
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 0;
			left: 0;
		}
	}
}
.testi_area{
	padding: 60px 0;
	h2{
		color: #3b3b3b;
		font-size: 35px;
		font-weight: 700;
		letter-spacing: 7px;
		text-transform: uppercase;
		margin: 0 0 70px;
		font-family: 'Playfair Display SC', serif;
		position: relative;
		display: inline-block;
		padding: 8px 20px;
		width: auto;
		position: relative;
		img{
			position: absolute;
			top: -14px;
			left: -4px;
			opacity: 0.2;
		}
	}
	h2:before{
		content: '';
		height: 60px;
		width: 20px;
		position: absolute;
		left: 0;
		top: 0;
		border: solid 1px #000;
		border-right: none;
	}
	h2:after{
		content: '';
		height: 60px;
		width: 20px;
		position: absolute;
		right: 0;
		top: 0;
		border: solid 1px #000;
		border-left: none;
	}
	.testi_con{
		padding-left: 185px;
		position: relative;
		img.testi_pic{
			width: 160px;
			height: 160px;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
		}
		img.testi_comma{
			width: auto;
			margin-bottom: 20px;
		}
		p{
			color: #000000;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.8px;
		}
		h4{
			color: #000000;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: 0.8px;
		}
		h5{
			color: #000000;
			font-size: 14px;
			font-weight: 300;
			letter-spacing: 0.7px;
		}
		ul{
			li{
				display: inline-block;
				color: #ff9300;
			}
		}
	}
	.owl-nav {
		display: block !important;
	}
	.owl-prev {
		width: 32px;
		height: 32px;
		border: solid 1px #000 !important;
		color: #000 !important;
		position: absolute;
		left: -50px;
		top: 50%;
		line-height: 30px;
	}
	.owl-next {
		width: 32px;
		height: 32px;
		border: solid 1px #000 !important;
		color: #000 !important;
		position: absolute;
		right: -50px;
		top: 50%;
		line-height: 30px;
	}
}
.service_count_area{
	padding: 20px 0 70px;
	.serv_cont_info{
		padding: 0 40px;
		text-align: center;
		border-right: solid 1px #ccc;
		h2{
			margin: 5px 0;
			font-size: 40px;
			font-weight: 700;
			color: #000;
		}
		h4{
			color: #666;
			font-size: 16px;
			margin: 0;
			font-weight: 300;
		}
	}
	.serv_cont_info:last-child{
		border: none;
	}
}
.latest_project_area{
	padding: 60px 0;
	.item{
		margin: 0 15px;
	}
	.owl-prev{
		width: 40px;
		height: 40px;
		background: #dfe0df !important;
		color: #fff !important;
		font-size: 24px !important;
		border-radius: 50%;
		position: absolute;
		top: 43%;
		left: -45px;
	}
	.owl-next{
		width: 40px;
		height: 40px;
		background: #dfe0df !important;
		color: #fff !important;
		font-size: 24px !important;
		border-radius: 50%;
		position: absolute;
		top: 43%;
		right: -45px;
	}
}
.os_main_area{
	.os_main_info{
		padding-bottom: 50px;
		.os_main_info_left{
			padding-right: 0;
		}
		.os_main_info_right{
			padding-left: 40px;
			display: flex;
			align-items: center;
			p{
				color: #000000;
				font-size: 16px;
				font-weight: 300;
				line-height: 26px;
			}
		}
		.os_info{
			position: relative;
			padding: 25px;
			.os_info_con{
				position: relative;
				background: #ff95b1;
				padding: 20px;
				text-align: center;
				img{
					width: auto;
					margin: 0 auto;
				}
				h3{
					color: #000000;
					font-size: 20px;
					font-weight: 700;
					margin: 15px 0 10px;
				}
				p{
					color: #000000;
					font-size: 14px;
					font-weight: 400;
					line-height: 24px;
					margin: 0;
				}
			}
			.os_info_con:before{
				content: '';
				width: 70px;
				height: 70px;
				border-top: solid 1px #999;
				border-right: solid 1px #999;
				position: absolute;
				top: -25px;
				right: -25px;
			}
			.os_info_con:after{
				content: '';
				width: 70px;
				height: 70px;
				border-bottom: solid 1px #999;
				border-right: solid 1px #999;
				position: absolute;
				bottom: -25px;
				right: -25px;
			}
			.os_info_con:hover{
				background: #ff95b1;
				img{
					filter: grayscale(100%) invert(100%);
				}
				h3{
					color: #fff;
				}
				p{
					color: #fff;
				}
			}
		}
		.os_info:before{
			content: '';
			width: 70px;
			height: 70px;
			border-top: solid 1px #999;
			border-left: solid 1px #999;
			position: absolute;
			top: -0;
			left: 0;
		}
		.os_info:after{
			content: '';
			width: 70px;
			height: 70px;
			border-bottom: solid 1px #999;
			border-left: solid 1px #999;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}
.other_serv_area{
	padding: 60px 0;
	h2{
		color: #fff;
		font-size: 35px;
		font-weight: 700;
		letter-spacing: 7px;
		text-transform: uppercase;
		margin: 0 0 30px;
		font-family: 'Playfair Display SC', serif;
		display: inline-block;
		padding: 8px 20px;
		width: auto;
		position: relative;
		img {
			position: absolute;
			top: -14px;
			left: 50%;
			transform: translateX(-50%) translateY(0%);
			opacity: 1;
			filter: grayscale(100%) invert(70%);
			opacity: .2;
		}
	}
	p{
		color: #fff;
		font-size: 16px;
		font-weight: 400;
	}
	h2:before {
		content: '';
		height: 60px;
		width: 20px;
		position: absolute;
		left: 0;
		top: 0;
		border: solid 1px #fff;
		border-right: none;
	}
	h2:after {
		content: '';
		height: 60px;
		width: 20px;
		position: absolute;
		right: 0;
		top: 0;
		border: solid 1px #fff;
		border-left: none;
	}
	.ot_info{
		background: #fff;
		margin-top: 40px;
		img{
			width: 100%;
		}
		.ot_info_con{
			padding: 15px;
			text-align: center;
			h3{
				color: #000000;
				font-family: "Playfair Display SC";
				font-size: 25px;
				font-weight: 700;
				letter-spacing: 5px;
				margin: 0 0 10px;
			}
			p{
				color: #000000;
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 0.8px;
				margin: 0;
			}
		}
	}
}
.price_area{
	padding: 60px 0;
	h2 {
		color: #3b3b3b;
		font-size: 35px;
		font-weight: 700;
		letter-spacing: 7px;
		text-transform: uppercase;
		margin: 0 0 40px;
		font-family: 'Playfair Display SC', serif;
		position: relative;
		display: inline-block;
		padding: 8px 20px;
		width: auto;
		position: relative;	
		img {
			position: absolute;
			top: -14px;
			left: 4px;
			opacity: 0.2;
		}
	}
	h2:before {
		content: '';
		height: 60px;
		width: 20px;
		position: absolute;
		left: 0;
		top: 0;
		border: solid 1px #000;
		border-right: none;
	}
	h2:after {
		content: '';
		height: 60px;
		width: 20px;
		position: absolute;
		right: 0;
		top: 0;
		border: solid 1px #000;
		border-left: none;
	}
	p {
		color: #000000;
		font-size: 16px;
		font-weight: 300;
		margin-bottom: 25px;
	}
	.price_con{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		display: inline-flex;
		padding: 20px 0;
		h4{
			display: flex;
			align-self: flex-start;
			align-items: center;
			flex: 1;
			text-align: left;
			font-size: 25px;
			font-weight: 900;
			color: #000;
			margin-bottom: .2rem;
			margin: 0;
		}
		h4:after {
			content: "";
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			height: 1px;
			margin: 0 .8rem;
			border-top: dashed 1px #000;
		}
		.price_con_right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			h5{
				margin: 0;
				font-size: 25px;
				font-weight: 900;
				color: #000;
			}
		}
	}
	a{
		color: #fff;
		font-size: 20px;
		font-weight: 500;
		text-transform: uppercase;
		padding: 10px 40px;
		background-color: #ff95b1;
		display: inline-block;
		margin-top: 30px;
	}
	a:hover{
		background: #000;
	}
	.price_pic{
		padding: 40px 65px;
    	position: relative;
		img{
			width: 100%;
		}
	}
	.price_pic:before {
		content: '';
		position: absolute;
		width: 320px;
		height: 260px;
		border-top: solid 1px #000;
		border-left: solid 1px #000;
		left: 0;
		top: 0;
	}
	.price_pic:after {
		content: '';
		position: absolute;
		width: 320px;
		height: 260px;
		border-bottom: solid 1px #000;
		border-right: solid 1px #000;
		right: 0;
		bottom: 0;
	}
}
.gal_area{
	padding: 70px 0 50px;
	.gal_pic{
		margin: 0 0 30px;
		h3{
			color: #333;
			font-size: 20px;
			margin: 15px 0 0;
		}
	}
	.gal_pic_con{
		overflow: hidden;
		img{
			width: 100%;
			height: 450px;
			object-fit: cover;
		}
	}
	.gal_pic_con:hover img{
		transform: scale(1.1);
		transition: all 500ms ease-in-out 0ms;
	}
}
.gal_inner_area{
	padding: 70px 0 0;
	h2 {
		color: #3b3b3b;
		font-size: 35px;
		font-weight: 700;
		letter-spacing: 7px;
		text-transform: uppercase;
		margin: 0 0 50px;
		font-family: 'Playfair Display SC', serif;
		position: relative;
		display: inline-block;
		padding: 8px 20px;
		width: auto;
		img{
			position: absolute;
			top: -14px;
			left: 50%;
			transform: translateX(-50%) translateY(0%);
			opacity: .2;
		}
	}
	h2:before {
		content: '';
		height: 60px;
		width: 20px;
		position: absolute;
		left: 0;
		top: 0;
		border: solid 1px #000;
		border-right: none;
	}
	h2:after {
		content: '';
		height: 60px;
		width: 20px;
		position: absolute;
		right: 0;
		top: 0;
		border: solid 1px #000;
		border-left: none;
	}
	p{
		color: #000000;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		padding: 0 10% 20px;
	}
	a.book{
		color: #fff;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		padding: 0 40px;
		line-height: 50px;
		background-color: #ff95b1;
		display: inline-block;
		margin-top: 25px;
		margin: 0 auto 50px;
	}
	a.book:hover{
		background: #000;
	}
	.gal_pic_con{
		img{
			width: 100%;
			height: 300px;
			object-fit: cover;
		}
	}
}

.menu-part ul ul.sub-menu {
	position: absolute;
	top: 180px;
	background: #caa03c;
	margin: 0;
	width: 200px;
	padding: 10px;
	text-align: left;
	z-index: 1000;
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transition: all 400ms ease-out;
	-o-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

header .menu-part ul ul.sub-menu li {
	display: block;
}

header .menu-part ul ul.sub-menu li a {
	text-transform: capitalize;
	display: block;
	color: #000;
	background: none;
	font-size: 14px;
	padding: 8px 0;
}

header .menu-part ul ul.sub-menu li a:hover {
	padding-left: 5px;
	transition: all 500ms ease-in-out;
}

header .menu-part ul ul.sub-menu li .double_menu {
	padding: 0 20px 15px;
	width: 50%;
	float: left
}

header .menu-part ul ul.sub-menu:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 10px;
	content: "";
	z-index: -1
}

header .menu-part ul ul.sub-menu:before ul.sub-menu:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 10px;
	outline: 1px solid #555555;
	outline-offset: -10px;
	content: "";
	z-index: -1
}

header .menu-part ul ul.sub-menu li ul.sub-menu {
	position: absolute;
	background: #141414;
	margin: 0;
	width: 200px;
	padding: 2px;
	text-align: left;
	top: -4%;
	left: 100%;
	z-index: 1000;
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transition: all 400ms ease-out;
	-o-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0
}

header .menu-part ul ul.sub-menu li ul.sub-menu li {
	display: block
}

header .menu-part ul ul.sub-menu li ul.sub-menu li a {
	display: block;
	background: none;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	padding: 11px 14px;
	font-size: 11px
}

header .menu-part ul ul.sub-menu li ul.sub-menu li a:hover {
	background-color: #5caadf;
	color: #ffffff
}

header .menu-part ul li:hover ul.sub-menu {
	display: block;
	transform: scaleY(1)
}

header .menu-part ul li ul.sub-menu li:hover ul.sub-menu {
	display: block;
	transform: scaleY(1)
}

header .menu-part ul ul.sub-menu li:last-child {
	border: none;
}

.main-slider {
	width: 100%;

	.owl-item {
		padding: 0;
		position: relative;
		opacity: .5;

		img {
			object-fit: cover;
			object-position: center;
		}

	}

	.center {
		opacity: 1;
		transform: scale(1.005);
		transition: .5s ease-in-out;
		z-index: 9999;
	}

	.owl-controls .owl-nav {
		width: 100%;
		top: 0;
		bottom: 0;

		.prev {
			position: absolute;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.next {
			position: absolute;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

	}

	.owl-thumbs {
		text-align: right;
		width: 100%;
		position: absolute;
		bottom: 30px;
		right: 0;
		padding-right: 8%;
	}

	.owl-thumb-item {
		width: 68px;
		border: none;
		background: none;
		padding: 0;
		opacity: .7;
		overflow: hidden;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 5px;
		border: solid 6px #00000085;
	}

	.owl-thumb-item img {
		width: 100%;
		height: auto;
		vertical-align: middle;
	}

	.owl-thumb-item.active {
		opacity: 1;

		img {
			position: relative;
			height: 100%;
		}

	}

}

.overlay {
	width: 100%;
	height: 100%;
	display: block;
	background-color: black;
}
footer {
	background-color: #222f3e;
	padding: 60px 0 0;
	.foot_info{
		padding-bottom: 20px;
	}
	h2{
		color: #fff;
		font-size: 17px;
		font-weight: 500;
		margin: 0 0 20px;
		a{
			color: #fff;
		}
	}
	p{
		color: #262626;
		font-size: 16px;
		font-weight: 300;
		line-height: 26px;
	}
	ul.social{
		li{
			display: inline-block;
			margin: 0 10px 0 0;
			a{
				font-size: 14px;
				color: #a5aab0;
				display: block;
				width: 32px;
				height: 32px;
				text-align: center;
				position: relative;
				line-height: 30px;
				border: solid 1px #a5aab0;
				border-radius: 50%;
			}
			a:hover{
				color: #fff;
				border-color: #fff;
			}
		}
	}
	.f_right{
		padding: 20px 0;
		img{
			display: block;
			margin-bottom: 15px;
		}
		a{
			color: #a5aab0;
			font-size: 11px;
			font-weight: 600;
			display: inline-block;
		}
		a:hover{
			color: #fff;
		}
	}
	ul.foot_menu{
		li{
			margin-bottom: 10px;
			a{
				color: #a5aab0;
				font-size: 14px;
				font-weight: 400;
			}
			a:hover{
				color: #fff;
			}
		}
	}
	ul.add_con{
		margin-bottom: 25px;
		li{
			color: #a5aab0;
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 10px;
			position: relative;
			padding-left: 25px;
			a{
				color: #a5aab0;
			}
			a:hover{
				color: #fff;
			}
			i{
				position: absolute;
				top: 5px;
				left: 0;
				color: #a5aab0;
			}
		}
	}
	.foot_bottom_con{
		text-align: center;
		border-top: 1px solid rgba(221, 221, 221, 0.1);
		padding: 10px 0;
		width: 100%;
		p{
			color: #a5aab0;
			font-size: 14px;
			font-weight: 300;
			margin: 0;
			a{
				color: #fff;
			}
			a:hover{
				text-decoration: underline !important;
			}
		}
	}
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999999999;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-dialog .modal-content {
    background: #fff;
	border: solid 3px #f1790e;
    padding: 5px;
    padding: 30px;
    border-radius: 10px;
}
.modal-dialog {
	.modal-content{
		.modal-header{
			padding: 0 0 30px;
			border: none;
			text-align: center;
			color: #000;
			.close{
				position: absolute;
				top: 10px;
				right: 15px;
			}
			.close:focus{
				outline: none;
			}
		}
		.modal-body {
			padding: 0;
			width: 100%;
			input:not([type=submit]){
				width: 100%;
				border: solid 1px #999;
				height: 50px;
				padding: 10px;
				color: #000;
				border-radius: 5px;
				margin-bottom: 20px;
			}
			input:not([type=submit])::placeholder{
				color: #666;
			}
			input[type=submit]{
				height: 50px;
				line-height: 50px;
				border: none;
				padding: 0 30px;
				color: #fff;
				background: #f1790e;
				font-size: 16px;
				font-weight: 600;
				border-radius: 5px;
				margin: 0 auto;
				display: block;
			}
			input[type=submit]:hover{
				background: #000;
			}
		}
	}
}


